    /* Работаем с классом game  */
.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}


    /* Работаем c идентификатором dino */
#dino {
    width: 50px;
    height: 50px;

    background-image: url(img/dino.png);
    background-size: 50px 50px;
 
    position: relative; 
    top: 150px;
}

    /* Создаём анимацию с именем jump чтобы наш динозавр прыгал */
@keyframes jump {

    0% {            /* Нач позиция */
        top: 150px; 
    }

    30% {           /* Через 30% времени позиция */
        top: 130px; 
    }

    50% {           /* Через 50% времени позиция */
        top: 80px; 
    }

    80% {           /* Через 80% времени позиция */
        top: 130px; 
    }

    100% {          /* Конечная позиция */
        top: 150px; 
    }
}

    /* Применяем созданную выше анимацию */
    /* Перемещение верх-низ с одинаковой постоянной скоростью 0.3с */
.jump {
    animation: jump 0.3s linear; 
}

    /* Работаем c идентификатором cactus */
#cactus {
    width: 20px;
    height: 40px;

    background-image: url(img/cactus.png);
    background-size: 20px 40px;
    
    position: relative;
    top: 110px;
    left: 580px;

    /* Добавялем анимацию движения элемента block он же cactus */
    /* Анимация будет повторяться бесконечно с одинаковой постоянной скоростью 1с */
    animation: block 1s infinite linear;
}

    /* Создаём анимацию с именем block чтобы наш кактус двигался */
@keyframes block {

    0% {            /* Нач позиция */
        left: 580px;
    }
    100% {          /* Конечная позиция */
        left: -20px;
    }
}
